<!doctype html>
<html lang="en">
{% load bootstrap_icons %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="{% static 'js/index.js' %}"></script>

</head>

<body>
  {% include 'menu.html' %}
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center Ionosonde-list mb-5">Ionosounde Locations</h3>
      <form action="/search_by_codes" method="post">
        <div class="row">
            <div class="col-4 offset-md-2 md-5">

                {% csrf_token %}
                <select class="form-select shadow-none" aria-label="Default select example" name="tx_code" required>
                    <option selected>Choose TX Code</option>
                    <option value="TX_CODE">TX_CODE</option>
                    <option value="CVAQ">CVAQ</option>
                    <option value="PRC">PRC</option>
                </select>

                <select class="form-select mt-2 shadow-none" aria-label="Default select example" name="rx_code">
                    <option selected>Choose RX Code</option>
                    <option value="1">W2NAF</option>

                </select>


                <input type="hidden" name="selected_date" value="{{selected_date}}">


            </div>
            <div class="col-4">

                <label for="exampleFormControlInput1" class="form-label">Start Date:</label>
                <input type="date" class="form-control shadow-none" name="start_date" placeholder="Start Date" required>



                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label">End Date:</label>
                    <input type="date" class="form-control shadow-none" name="end_date" placeholder="End Date" required>
                </div>

                <button type="submit" class="btn btn-info text-center shadow-none mt-2"> Search</button>
                <button type="reset" class="btn btn-info text-center shadow-none mt-2"> Reset</button>
            </div>
        </div>
    </form>
    </div>
  </div>
  <div class="table-format">
    <table width="100%" class="table m-4">
      <thead class="table-light table-bordered">
        <tr class="text-center">
          <th scope="col">Folder</th>
          <th scope="col">Operation</th>


        </tr>
      </thead>
      <tbody>
        {% for i in users %}
        <tr class="text-center">
          
          <td>{{i.folder_name}}</td>
          <td><a href="{% url 'view_unfiltered_ionograms' i.folder_name %}" >View Ionograms</a></td>
        </tr>
        {% endfor %}
        

      </tbody>
    </table>
    

    

  </div>
  
    <nav aria-label="Page navigation example text-center">
      {% if users.has_other_pages %}
      <ul class="pagination">
        {% if users.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled" class="page-items"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
        <li class="active" class="page-item"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled" class="page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
      </nav>
    


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
   

</body>

</html>