<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Transmitter</title>
    <input type="hidden" name="flag" value="transmitter">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include 'menu.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 transmitter-edit">
                <h3 class="Ionosonde-list text-center mb-5">Update Transmitter</h3>

                {% if flag == 'edit_transmitter' %}
                <form method="POST" action="{% url 'edit-transmitter' tx_code data.id  %}">

                    {% else %}
                    <form method="POST" action="{% url 'edit_filter_transmitter' tx_code data.id  %}">
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">TX Code</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded" name="tx_code"
                                value="{{data.tx_code}}" size="40">

                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Transmitter Name</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="transmitter_name" value="{{data.name_of_transmitter}}">

                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Latitude</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded" name="lat"
                                value="{{data.lat}}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Longitude</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded" name="long"
                                value="{{data.longitude}}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Ground Range</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="ground_range" value="{{data.range_zero}}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Chriprate</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="chrip_rate" value="{{data.chriprate}}">
                        </div>


                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">First Hop Range One</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="first_hop_range_one" value="{{data.first_hop_range_one}}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">First Hop Range Two</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="first_hop_range_two" value="{{data.first_hop_range_two}}">
                        </div>

                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Second Hop Range One</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="second_hop_range_one" value="{{data.second_hop_range_one}}">
                        </div>



                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Second Hop Range two</label>
                            <input type="text" class="form-control shadow-sm p-3 mb-5 bg-white rounded"
                                name="second_hop_range_two" value="{{data.second_hop_range_two}}">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn custom-button">Submit</button>
                        </div>
                        &nbsp;
                    </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>