<!doctype html>
<html lang="en">
{% load bootstrap_icons %}
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="{% static 'js/index.js' %}"></script>

</head>

<body>
  {% include 'menu.html' %}

  <div class="container">
    <div class="row mt-5">
      <div class="col-xl-3">
        <a href="{% url 'unfiltered_ionograms' %}" class="btn custom-button">View Unfiltered</a>
        <a href="add-transmitter" class="btn btn-success">Add Transmitter</a>
      </div>

      <div class="col-xl-9">
        <h3 class="text-center Ionosonde-list">Ionosonde Locations</h3>
      </div>
    </div>
  </div>


  </div>
  <div class="table-format">
    {% if data %}
    <table width="100%" class="table m-4">
      <thead class="table-light table-bordered">
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">TX Code</th>
          <th scope="col">Transmitter Name</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Ground Range [km]</th>
          <th scope="col">Chrip Rate [kHz/s]</th>
          <th scope="col">View Details</th>

        </tr>
      </thead>
      
        
      <tbody>
        {% for d in data %}
        <tr class="text-center">
          <td>{{d.id}}</td>
          <td>{{d.tx_code}}</td>
          <td>{{d.name_of_transmitter}}</td>
          <td>{{d.lat}}</td>
          <td>{{d.longitude}}</td>
          <td>{{d.range_zero}}</td>
          <td>{{d.chriprate}}</td>
          <td><a href="{% url 'edit-transmitter' d.tx_code d.id %}" class="btn custom-button">Edit {% bs_icon 'pencil-fill' %} </a>
            <a href="unfilter_ionograms/{{d.tx_code}}/{{d.id}}" class="btn custom-button">View ionograms</a>
            <a href="ionograms-summary/{{d.tx_code}}/{{d.id}}" class="btn custom-button">Filter Ionogram {% bs_icon 'search' %}</a>
            <!-- <a href="#" class="btn custom-button">Create keogram</a>
            <a href="#" class="btn custom-button">View Keogram</a> -->
            <a href="{% url 'delete_sounder' d.id %}" class="btn custom-button" style="background-color: red !important;">Delete {% bs_icon 'trash-fill' %}</a>
          
          </td>
        </tr>
        {% endfor %}
      </tbody>
      
    </table>

    {% else %}

    <h2 class="text-center mt-5">Add Transmitter</h2>
    
        {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    
</body>

</html>