{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-nav" style="background-color: #502e6c !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white !important;"><img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top"  alt="">Chirpsounder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: white !important;" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;" href="/receiver-info">Admin</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
