<!doctype html>
<html lang="en">
{% load bootstrap_icons %}
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Filtered LFM VA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include 'menu.html' %}

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
          <h3 class="text-center Ionosonde-list">Filtered LFM files Associated to {{name.name_of_transmitter}} Transmitter</h3>
          
        </div>
      </div>
      <div id="result"></div>

    <div class="table-format">
        <table width="100%" class="table m-4">
            <thead class="table-light table-bordered">
                <tr class="text-center">
                    <th scope="col">Nr</th>
                    <th scope="col">TX Code</th>
                    <th scope="col">RX Code</th>
                    <th scope="col">Datetime[UT]</th>
                    <th scope="col">Name of LFM files</th>
                    <th scope="col">Ionograms Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {% for sr_no, i in data %}
                <tr class="text-center">
                    <td>{{sr_no| add:"1"}}</td>
                    <td>{{name.tx_code}}</td>
                    <td>{{name.receiver_code}}</td>
                    <td>{{date}}</td>
                    <td><a href="/static/{{i}}" class="">{{i}}</a></td>
                    <td><a href="/static/{{date}}/{{i|slice:':-2'|add:'png'}}">

                        <img src="/static/images/thumbnail.png" alt="" width="50" height="50">

                    </a></td>

                    
                    
                    
                </tr> 
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% if isComplete %}
    <h1>Django</h1>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>