<!doctype html>
<html lang="en">
{% load bootstrap_icons %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Filtered LFM VA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include 'menu.html' %}

    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center Ionosonde-list">Unfiltered LFM files Associated to Transmitter</h3>
        </div>
    </div>
    
    <form action="/search_by_codes" method="post">
        <div class="row">
            <div class="col-4 offset-md-2">

                {% csrf_token %}
                {% if filtered_data.tx_code == 'CVAQ' %}
                <select class="form-select shadow-none" aria-label="Default select example" name="tx_code">
                    <option selected>Choose TX Code</option>
                    <option value="{{filtered_data.tx_code}}" selected>{{filtered_data.tx_code}}</option>
                    <option value="TX_CODE">TX_CODE</option>
                    <option value="PRC">PRC</option>
                </select>

                {% else %}
                <select class="form-select shadow-none" aria-label="Default select example" name="tx_code">
                    <option selected>Choose TX Code</option>
                    <option value="TX_CODE">TX_CODE</option>
                    <option value="CVAQ">CVAQ</option>
                    <option value="PRC">PRC</option>
                </select>
                {% endif %}

                <select class="form-select mt-2 shadow-none" aria-label="Default select example" name="rx_code">
                    <option selected>Choose RX Code</option>
                    <option value="1">W2NAF</option>

                </select>




            </div>
            <div class="col-4">

                {% if filtered_data.start_date %}

                <label for="exampleFormControlInput1" class="form-label">Start Date:</label>
                <input type="date" class="form-control shadow-none" name="start_date" placeholder="Start Date" value="{{filtered_data.start_date}}">

                <label for="exampleFormControlInput1" class="form-label">End Date:</label>
                <input type="date" class="form-control shadow-none" name="end_date" placeholder="End Date" value="{{filtered_data.end_date}}">

                {% else %}


                <label for="exampleFormControlInput1" class="form-label">Start Date:</label>
                <input type="date" class="form-control shadow-none" name="start_date" placeholder="Start Date">

                <label for="exampleFormControlInput1" class="form-label">End Date:</label>
                <input type="date" class="form-control shadow-none" name="end_date" placeholder="End Date">

                {% endif %}


                <button type="submit" class="btn btn-info text-center shadow-none mt-2"> Search</button>
                <button type="reset" class="btn btn-info text-center shadow-none mt-2"> Reset</button>
            </div>
        </div>
    </form>
    <div class="table-format">
        {% if data %}
        <table width="100%" class="table m-4">
            <thead class="table-light table-bordered">
                <tr class="text-center">
                    <th scope="col">Nr</th>
                    <th scope="col">TX Code</th>
                    <th scope="col">RX Code</th>
                    <th scope="col">Datetime[UT]</th>
                    <th scope="col">Name of LFM files</th>
                    <th scope="col">Ionograms Thumbnail</th>
                </tr>
            </thead>
            
                
                <tbody></tbody>
                {% for i in data %}
                <tr class="text-center">
                    <td>{{i.sr_no}}</td>
                    <td>{{i.tx_code}}</td>
                    <td>W2NAF</td>
                    {% if selected_date %}
                    <td>{{selected_date}}</td>
                    {% else %}
                    <td>{{i.selected_date}}</td>
                    {% endif %}
                    <td><a href='/static/{{selected_date}}/{{i.filename}}' download>{{i.filename}}</a>
                    </td>

                    {% if selected_date %}
                    <td>
                        <a href="/view-ionograms/{{selected_date}}/{{i.filename|slice:':-2'|add:'png'}}/{{id}}">

                            <img src="/static/images/thumbnail.png" alt="" width="50" height="50">
                            
                        </a>
                    </td>


                    {% else %}
                    <td>
                        <!-- <a href="/static/{{i.selected_date}}/{{i.png_filename}}">

                            <img src="/static/images/thumbnail.png" alt="" width="50" height="50">

                        </a> -->
                        <a href="/view-ionograms/{{i.selected_date}}/{{i.png_filename}}/{{id}}">

                            <img src="/static/images/thumbnail.png" alt="" width="50" height="50">

                        </a>

                        
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
               

            </tbody>


        </table>
        {% else %}
        <h1 class="text-center mt-5">No Data Found</h1>
        {% endif %}
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>